.App, html {
  height: 100%;
  width: 100%;
}

.portrait{
  height: max(18vh,18vw);
  position: absolute;
  left: 33%;
}

.typer{
  margin-left: 1%;
  margin-top: 0;
  padding-top: 25%;
  font-family: "Courier New", Courier, monospace;
  font-style: oblique;
  text-align: center;
}

a:link {
  text-decoration: none;
}

.Heading{
  margin: 0px 0px 0px 0px;
  font-size: max(4vh,4vw);
  font-family: "Helvetica Neue", Helvetica, monospace;
  font-weight: normal;
}

.pageNav{
  width:  fit-content;
  height: fit-content;
  position: fixed; /* Set the navbar to fixed position */
  top: 0;
}

.pageNavList{
  list-style-type: none;
  margin: 0;
  padding-bottom: 1%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.projectList{
  list-style-type: none;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.Repository{
  display: block;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  line-height: 1.6;
  font-size: max(2vh,2vw);
}

#noPaddingOrMargin{
  font-size: max(4vh,4vw);
  color: rgb(0, 0, 0);
  height: fit-content;
  margin: 0px 0px 0px 0px;
}

#content{
  height: min(calc(100% - 18vh), calc(100% - 18vw));
  width: 100%;
}


#cursor {
  border-left: .1em solid rgb(131, 161, 98);;
  animation: blink .7s steps(1) infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

#about {
  width: 75%;
  padding-left: 10%;
  margin-top: 5%;
  height: fit-content;
}

@media only screen and (max-width: 600px) {
  #about {
    margin-top: 20%;
  }
}

#about-text {
  margin-left: 1%;
  margin-top: 1%;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: calc(max(19vh,19vw));
  text-align: left;
}

#back{
  width: 75%;
  padding-left: 0;
}

.homePageNav{
  padding-left: 0px;
}

.homeNavList{
  padding-left: 0px;
  list-style-type: none;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.homePageNavItem{
  padding-left: 10px;;
}

.link > .grow{
  color: black; 
  font-family: "Helvetica Neue", Helvetica, monospace;
  font-weight: normal;
  font-size: max(4vh,4vw);
  margin-top: 0px;
}


@media only screen and (min-width: 768px) { /*style changes for desktop users*/

 .homePageNav{
    padding-left: 0px;
 }

  .homeNavList{
    flex-direction: row;
  }

  .homePageNavItem{
    padding-left: 50px;
  }

  .Heading{
    font-size: max(2vh,2vw);
  }

  #noPaddingOrMargin{
    font-size: max(2vh,2vw);
    height: fit-content;
    margin: 0px 0px 0px 0px;
  }
  
  .Repository{
    font-size: 100%;
  }

  #Heading{
    font-size: max(2vh,2vw);
  }
  #about-text {
    padding-top: calc(max(18vh,18vw));
    text-align: left;
  }
  #content{
    height: min(calc(100% - 3vh), calc(100% - 3vw));
  }
  .grow {
    transition: all .2s ease-in-out;
  }
  .link > .grow{
    font-size: max(2vh,2vw);
  }
  .grow:hover { transform: scale(1.05); }

  .markdown-body {
		box-sizing: border-box;
		min-width: 200px;
		max-width: 1280px;
		padding-left: 19%;
	}
}